body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.news-feed{
  max-width: 50%;
  background-color:gray;
  margin: 2rem;
}
.currency-converter{
  background-color: blue;
}

.exchange-rate{
  background-color: green;
}